@import '../../App.scss';

.showCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
  position: relative;
  animation: fade-in 3s;

  .bitMe {
    width: 40%;



  }

  .showCardText {
    font-family: $textFont;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
  }



  h2 {
    a {
      text-decoration: none;
      color: $accentColor;
    }

    a:hover {

      color: white;
    }
  }
}


@keyframes fade-in {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}