@import '../../App.scss';

.showCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100%;
  position: relative;
  animation: fade-in 3s;

  .bitMe {
    width: 40%;



  }

  .showCardText {
    @include textBlock();
  }



  h2 {
    a {
      text-decoration: none;
      color: $accentColor;
    }

    a:hover {

      color: white;
    }
  }
}


@keyframes fade-in {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@media only screen and(max-width: 900px) {}