@import '../../App.scss';


.LandingPage {
  width: 100%;
  display: flex;
  min-height: 100vh;

  .leftDiv {
    width: 50%;
    background-image: url('../../pics/me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;




    .imageOverlay {
      width: 100%;
      background-image: linear-gradient(to bottom right, $headerColor, $primaryColor);
      opacity: .4;
      min-height: 100vh;
    }
  }

  .rightDiv {
    width: 50%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-image: linear-gradient(to top right, $headerColor, $primaryColor);
    min-height: 100vh;




    .content {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .showCards {
        min-width: 100%;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .top {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;

        }

        .bottom {
          flex-grow: 3;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

      }

      .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
      }

      .skills {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        i {
          font-size: 50px;
          color: $accentColor;
        }

        i:hover {
          transform: scale(1.1);
        }
      }


      div {
        width: 80%
      }
    }

  }
}