@import '../../App.scss';


.LandingPage {
  width: 100%;
  display: flex;
  min-height: 100vh;

  .leftDiv {
    width: 50%;
    background-image: url('../../pics/me.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;




    .imageOverlay {
      width: 100%;
      background-image: linear-gradient(to bottom right, $headerColor, $primaryColor);
      opacity: .4;
      min-height: 100vh;
    }
  }

  .rightDiv {
    width: 50%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-image: linear-gradient(to top right, $headerColor, $primaryColor);

    .projects {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }


    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .bio {
        font-family: $textFont;
        font-size: 20px;
        line-height: 25px;
      }

      .title {

        h1 {
          font-family: $headerFont;
          font-size: 40px;
        }

        h3 {
          font-family: $headerFont;
        }

        .bitmoji {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          animation: bitmoji 1s;

          .bootcamp {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            img {
              width: 100%;
            }
          }

          .me {
            width: 40%;
          }

          img {
            width: 50%;
          }

          a {
            list-style: none;

            color: $accentColor;

          }

          h2 {
            color: white;
          }
        }
      }

      .contact {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        ;

        /* Tooltip container */
        .tooltip {
          position: relative;
          display: inline-block;
          /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
          visibility: hidden;

          background-color: $accentColor;
          color: #fff;
          text-align: center;
          padding: 5px 0;
          border-radius: 6px;
          /* Position the tooltip text - see examples below! */
          position: absolute;
          left: 0;
          top: -60px;
          z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
          visibility: visible;
        }

        .tooltiptext {
          width: 120px;
        }

        img {
          width: 100%;
        }

        i {
          font-size: 30px;
          color: $accentColor;
        }

        i:hover {
          transform: scale(1.2);
        }
      }

      .skills {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        i {
          font-size: 50px;
          color: $accentColor;
        }

        i:hover {
          transform: scale(1.1);
        }
      }


      div {
        width: 80%
      }
    }

  }
}

@keyframes bitmoji {
  from {
    left: 500px;
  }

  to {
    left: 0px;
  }
}