@import '../Bio/Bio.scss';

.showCard {
  @extend .showCard;



  .meResume {
    width: 100%;

    img {
      width: 15%;
    }
  }

  object {
    flex-grow: 6;
    width: 100%;
  }

}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}