@import '../Bio/Bio.scss';

.showCard {
  @extend .showCard;
  min-width: 100%;



  .card:hover {
    transform: scale(1.1);
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: $cardColor;
    min-height: 175px;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;

  }

  .card a {

    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;






    img {
      width: 200px;
    }

    p {
      color: $accentColor;
    }
  }
}