$primaryColor: #03588C;
$secondaryColor: #04B2D9;
$accentColor: rgb(214, 182, 102);
$headerColor: #0AC78B;



$cardColor: rgb(213, 226, 225);
$headerFont: 'Roboto Mono',
monospace;
$textFont: 'Montserrat',
sans-serif;